<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

<div>
<ul>
    <% for(let i=0;i<videos.length;i++){%>
<li>
    <a href="/<%=videos[i].url%>"><%=videos[i].name%></a>
</li>

        <%}%>
</ul>

</div>


    
  </body>
</html>
